{% extends "base.html" %}
{% load static %}
{% block title %} | 聯絡我們 {% endblock %}
{% block content %}

 
<div class="container">
    <div class="view-content">
        <div class="views-row">
            <div class="views-field views-field-field-hero">
                <div class="field-content">
                    <img src="/static/img/contactbanner.jpg" class="img-fluid" alt="養心園優質護老院，政府甲一級安老院/老人院，24小時專業護理，註冊西醫定期到診,專業膳食餐單團隊均獲得政府認可專業資格,持有護理證書,包括註冊護士,物理治療師,保健員,護理員及助理員。" typeof="foaf:Image">
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-6">
                    <h3>有安排家中長者入住護老院舍的疑問？</h3>
                    <p>歡迎隨時聯絡我們查詢。同時，您亦可以預約時間作現場參觀，深入了解一下專業護老團隊及護老院舍的運作。</p>

                    <h3>一般查詢</h3>
                    <div class="email">
                        <a href="mailto:info@elderly.com.hk">info@elderly.com.hk</a>
                    </div>
                    <br>

                    <div class="intro">
                        <h2>關於我們的長者之家</h2>
                        <p>我們的長者之家致力於提供一個安全、舒適和關愛的環境，讓長者享受他們的晚年生活。我們的專業團隊會確保每位長者得到個人化的照顧和支持。</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <h2>聯絡我們</h2>
                       
      
                       <form method="post" action="{% url 'contactus' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">姓名</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="telephone">電話號碼</label>
                            <input type="tel" class="form-control" id="telephone" name="telephone" required>
                        </div>
                        <div class="form-group">
                            <label for="email">電郵地址</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="opinion">意見</label>
                            <textarea class="form-control" id="opinion" name="opinion" rows="4" required></textarea>
                        </div>
                  
                        <button type="submit" class="btn btn-secondary btn-lg">提交</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
