{% extends "base.html" %}
{% load static %}
{% block title %} | Welcome {% endblock %}
{% block content %}
 


<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1 class="display-4">養心園安老院舍</h1>
            <p class="lead">我們致力提供優質護老、安老服務</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'img/elderly_main.jpg' %}" alt="Main Page Image" class="img-large">
        </div>
    </div>
</div>
{% endblock %}